$grey: #777;
$black: black;
$white: white;
$red: red;
$silvery: #e1e1e1;
$rgba : rgba(0, 0, 0, 0.3);
$rgba0: rgba(0, 0, 0, 0.6);
$rgba3: rgba(16, 17, 19, 0.3);
$light-blue: #507cc0;
$grayish-white: #CCCCCC;
$info: #5bc0de;
$pink: #d9534f;
$yellow: #ff9f1a;
$orange: #b36800;
