@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color.scss';

body {
  padding-top: 60px;
  height: 100%;
  margin-top:20px;
}
  
section {
  overflow: auto;
}
  
textarea {
  resize: vertical;
}
  
.center {
  text-align: center;
}
  
.center h1 {
  margin-bottom: 10px;
}
  /* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}
  
h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}
  
h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grey;
  }
  
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.navbar-inverse {
  background-color: $black;
  border-color: $white;
  height:80px ;
}

.navbar-center {
  position: absolute;
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.navbar-right {
  float: right !important;
  margin-right: 70px;
  margin-top: 15px;
}

#logo {
  float: left;
  font-size: 1.7em;
  color: $white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  margin-top: 10px;
}

#logo:hover {
  color: $white;
  text-decoration: none;
}

img {
  width:100%;
}

ul {
  display: flex;
  margin: 50px 50px 0 0;
  padding: 0;
  transition: margin .2s;
}

li:not(:last-child) {
  margin-right: 20px;
}

.carousel-inner img {
  width: 100%; 
  margin: auto;
  min-height:200px;
}

.navbar-form .input-group > .form-control {
  width: 100%;
  height: 45px;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
  z-index: 2;
  margin-left: -1px;
  padding-top: 17px;
}

@media (max-width: 600px) {
.carousel-caption {
  display: none; 
 }
}

/* footer */

footer {
  background-color: $grey;
  padding: 25px;
  margin-top: 45px;
}

.form-control.form-control:focus, .input-group-addon {
  border-color: $silvery;
}

.form-control, .btn {        
   border-radius: 3px;
}

.signup-form {
  width: 390px;
  margin: 0 auto;
  padding: 30px 0;
  
  form{
    color: $grey;
    border-radius: 3px;
    margin-bottom: 15px;
    background: $silvery;
    box-shadow: 0 2px 2px $rgba;
    padding: 30px;
    margin-top: 120px;
  }

  h1{
    color: $black;
    font-weight: bold;
    margin-top: 0;
  }

  hr {
    margin: 0 -30px 20px;
  }

  .form-group {
    margin-bottom: 20px;
  }

  label {
    font-weight: normal;
    font-size: 13px;
  }

  .form-control {
    min-height: 38px;
    box-shadow: none !important;
  }

  .input-group-addon {
    max-width: 42px;
    text-align: center;
  }
}

#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin: 0 0 30px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.login-form {
  width: 500px;
  height: 400px;
  margin: 30px auto;
  margin-top: 100px;

  form {        
    margin-bottom: 15px;
      background: $white;
      box-shadow: 0 2px 2px $rgba;
      padding: 30px;
      height: 345px;
  }

  h2 {
    margin: 0 0 15px;
  }
}

.form-control, .login-btn {
  min-height: 38px;
  border-radius: 2px;
}

.input-group-addon .fa {
  font-size: 18px;
}

.login-btn {
  font-size: 15px;
  font-weight: bold;
  margin-top: 40px;
}

.social-btn{
  .btn {
    border: none;
    margin: 10px 3px;
    opacity: 1;
  }

  .btn:hover {
    opacity: 0.9;
  }

  .btn-primary {
    background: $light-blue;
  }

  .btn-info {
    background: $light-blue;
  }

  .btn-danger {
    background: $red;
  }
}

.or-seperator {
  margin-top: 20px;
  text-align: center;
  border-top: 1px solid $silvery;

  i {
    padding: 0 10px;
    background: $white;
    position: relative;
    top: -11px;
    z-index: 1;
  }   
}

.slider-size {
  height: 200px; 
}

.carousel-inner > .item > img, .carousel-inner > .item > a > img {
  display: block;
  max-width: 70%;
  height: auto;
  line-height: 1;
}

h2 {
  clear: both;
  font-size: 1.8em;
  margin-bottom: 10px;
  padding: 10px 0 10px 30px;
}
  
h3 > span {
  border-bottom: 2px solid $grayish-white;
  display: inline-block;
  padding: 0 5px 5px;
}

#user-profile{
  h2 {
    padding-right: 15px;
  }

  .profile-img {
    border: 1px solid $silvery;
    padding: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .profile-user-info {
    padding-bottom: 20px;
  }

  .profile-user-info .profile-user-details {
    position: relative;
    padding: 4px ;
  }

  .profile-user-info {
      .profile-user-details{
        .profile-user-details-label {
          width: 110px;
          float: left;
          bottom: 0;
          font-weight: bold;
          left: 0;
          position: absolute;
          text-align: right;
          top: 0;
          width: 110px;
          padding-top: 4px;
        }
        .profile-user-details-value {
          margin-left: 120px;
        }
      }
    }
  }
  


@media only screen and (max-width: 767px) {
  #user-profile{
    .profile-user-info {
      .profile-user-details{ 
        .profile-user-details-label {
          float: none;
          position: relative;
          text-align: left;
        }
        .profile-user-details-value {
          margin-left: 0;
        }
      }
      .profile-social {
        margin-top: 20px;
      }
    }
  }
}

.main-box {
  background: $white;
    -webkit-box-shadow: 1px 1px 2px $grayish-white;
    -moz-box-shadow: 1px 1px 2px $grayish-white;
    -o-box-shadow: 1px 1px 2px $grayish-white;
    -ms-box-shadow: 1px 1px 2px $grayish-white;
  box-shadow: 1px 1px 2px $grayish-white;
  margin-bottom: 16px;
  padding: 20px;
}

.btn-info {
  margin-top: 30px;
  color: $white;
  background-color: $info;
  border-color: $info;
}

input, button, select, textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding-top: 20px;
}

.image_index {
  width: 20%;
}
